.banner {
  position: fixed;
  top: 86px;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url("../public/img/b-w-outside.jpeg");
  background-size: cover;
}

.container {
  padding-top: 180px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  min-height: 70vh;
}

.hours {
  padding-right: 44px;
  max-width: 390px;
  font-size: 1rem;
}

.news {
  max-width: 33%;
  margin-left: 44px;
}

.panel h2 {
  display: flex;
  align-items: center;
  padding: 1rem 0 0 0;
  margin: 0;
  font-size: 1.2rem;
}

.panel p {
  margin: 0 0 1rem 0;
  font-size: 1rem;
  line-height: 1.4rem;
}

.panel .headerNote {
  color:#4e4e4e;
  margin-top: 15px;
}

p.postdate {
  font-size: .8rem;
  color: #4e4e4e;
}

.quote {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgba(207, 143, 43, 0.9);
  min-height: 269px;
  line-height: 3rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
  padding-right: 10%;
  padding-left: 10%;
  border-top: 3px solid #666;
  border-bottom: 3px solid #666;
}

.blockmenu {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  overflow: hidden;
}

.blockmenu .item:first-child {
  border-left: 3px solid #666;
}

.blockmenu .item {
  width: 33.3%;
  height: 500px;
  border-right: 3px solid #666;
  background-position: center;
  background-color: #fff;
}

.blockmenu .item a {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out;
}

.blockmenu .item a:hover, .blockmenu .item a:focus {
  opacity: 0.8;
}

.storeBg {
  background-image: url("../public/img/home-store.jpeg");
}

.eventsBg {
  background-image: url("../public/img/home-events.jpeg");
}

.foodBg {
  background-image: url("../public/img/home-food.jpeg");
}

.blockmenu .item a .linkName {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 1rem;
  width: calc(100% - 2rem);
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
}

.blockmenu .item img {
  max-width: 100%;
  height: auto;
}